@import "tailwindcss";

.name{
  background: linear-gradient(90deg, #3659fb, #9122fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.b_gradient{
    background: linear-gradient(90deg, #3659fb, #9122fa);
}